---
import DashboardLayout from '@/layouts/DashboardLayout.astro'

const { cookies, redirect } = Astro
const accessToken = cookies.get('sb-access-token')
const refreshToken = cookies.get('sb-refresh-token')

if (!accessToken && !refreshToken) {
  return redirect('/login')
}
---

<DashboardLayout title='Dashboard | Teams'>
  <h1 class='pt-5 lg:pl-72'>Hello from the Dashboard projects page!</h1>
</DashboardLayout>
