---
import DashboardLayout from '@/layouts/DashboardLayout.astro'
import DashboardStats from '@/components/DashboardStats.astro'

const { cookies, redirect } = Astro
const accessToken = cookies.get('sb-access-token')
const refreshToken = cookies.get('sb-refresh-token')

if (!accessToken && !refreshToken) {
  return redirect('/login')
}
---

<DashboardLayout title='Dashboard | Teams'>
  <div class='pt-5 lg:pl-72'>
    <DashboardStats />
  </div>
</DashboardLayout>
