---
import Layout from '@/layouts/Layout.astro'
// import Navbar from '@/components/Navbar.astro'
import Hero from '@/components/Hero.astro'
// import { Hero } from '@/components/Hero'
---

<Layout title='Welcome to Astro.'>
  <!-- <main> -->
  <!-- <Navbar /> -->
  <Hero />
  <!-- </main> -->
</Layout>
