---
import { navigation } from '@/config/navigation'
import { Icons } from './Icons'
import { LandingFlyout } from './LandingFlyout'
import Button from './Button.astro'
---

<header class='absolute inset-x-0 top-0 z-50'>
  <nav class='mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8' aria-label='Global'>
    <div class='flex lg:flex-1'>
      <a href='#' class='-m-1.5 p-1.5'>
        <span class='sr-only'>Your Company</span>
        <Icons.Logo />
      </a>
    </div>
    <LandingFlyout client:load />
    <div class='hidden lg:flex lg:gap-x-12'>
      {
        navigation.map((item) => (
          <a href={item.href} class='text-sm font-semibold leading-6 hover:text-muted-foreground'>
            {item.name}
          </a>
        ))
      }
    </div>
    <div class='hidden lg:flex lg:flex-1 lg:justify-end'>
      <Button variant='ghost'>
        <a href='login'>
          Log in <span aria-hidden='true'>&rarr;</span>
        </a>
      </Button>
    </div>
  </nav>
</header>
